<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="tests">
	<listeners>
		<listener class-name="com.automation.listeners.TestListener" />
	</listeners>
	<test name="HomepageTestChrome">
	<parameter name="passScreenshotFlag" value="Yes"/>
  <parameter name="testType" value="Web" />
  	<parameter name="platformName" value="chrome" />
		<classes>
 			<class name="com.automation.testcases.web.HomePageTest"></class>
		</classes>
	</test>
	<test name="APITest">
  <parameter name="testType" value="API" />
		<classes>
 			<class name="com.automation.testcases.api.DummyTestCase"></class>
		</classes>
	</test>
	<test name="Pixel 2 API 26">
	  <parameter name="testType" value="Mobile" />
  	<parameter name="platformName" value="Android" />
  	<parameter name="passScreenshotFlag" value="Yes"/>
		<parameter name="emulator" value="true" />
		<parameter name="platformVersion" value="8.0" />
		<parameter name="deviceName" value="Pixel_2_API_26" />
		<parameter name="systemPort" value="10000" />
		<parameter name="chromeDriverPort" value="11000" />
		<classes>
 			<class name="com.automation.testcases.mobile.Flow1Test"></class>
		</classes>
	</test>
	
</suite> <!-- Suite -->